//color
$black:  #000000;
$red-smooth: #E93E30;
$yellow: #F7E018;
$blue-light: #299ED5;
$black-smooth: #292C33;
$green-leaf: #67C770;
$purple-toxic: #563D7C;

//size-text
$size-text-small:16px;
$size-text-medium:20px;
$size-text-large: 24px;
$size-text-xl: 32px;

//category
$category-width: 298px;
$category-height: 89px;
$category-item-margin: 20px;
$category-border-radius: 10px;
//popular
$popular-image-width: 180px;
$popular-image-height: 120px;
$popular-logo-Width: 40px;
$popular-logo-Height: 40px;
$popular-logo-Radius: 77px;
$white: white;

//fonts
$family-fonts: "Poppins", sans-serif;
$font-style-type: normal;
$font-weight-medium: 500;
$font-weight-light: 400;
$font-weight-bold: 700;
//register
$primary-color: #4CAF50;
$secondary-color: #FFFFFF;
$google-color: #DB4437;
$font-family: Arial, sans-serif;















    
 

